@model MVC_Acft_Track.Models.SearchRequest


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    <div class="div_container_left">
        <fieldset class="fieldset_nobkgr">
            <legend class="legend_x">Active Flights By Area</legend>

            <div class="h3">
                <h5>Area Name</h5>
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.AreaID, ViewBag.AreaSelList as SelectList, "Select")
            </div>
            <p>
                <input type="submit" id="submit" name="submit" value="Search" />
            </p>
        </fieldset>
    </div>
    }




