@model MVC_Acft_Track.ViewModels.vmSearchRequestFights


<h2>@ViewBag.ViewTitle</h2>

<div>
    @*@{
        var grid = new WebGrid(Model,
            defaultSort: "FlightID",
            rowsPerPage: 50);

            grid.SortColumn = ViewBag.Sort;
            grid.SortDirection = ViewBag.SortDir;
    }*@

        Public flights are the records that pilots shares with everybody.<br>
        To view flights in the route on Google Maps check [Select] checkbox and click <div class="code_ms"> Display on Map</div> button.
    @{
        var grid = new WebGrid(
            Model.routeList,
            defaultSort: "RouteID",
            rowsPerPage: Model.rowsPerPage,
            canSort: true,
            canPage: true
            );
        grid.SortColumn = Model.sortCol;
        grid.SortDirection = Model.sortDir;
        var topNumber = Model.topN > Model.totalRecordCount ? Model.totalRecordCount : Model.topN;
    }
    @using (Html.BeginForm())
    {
        <input type="submit" class="btn btn-default" name="submit" value="Display On Map" />
        @grid.GetHtml(tableStyle: "webgrid", headerStyle: "webgrid-header", //rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "RouteID", header: "Select", format: (item) => Html.CheckBox((string)item.RouteID.ToString(), false)),
        grid.Column(columnName: "RouteID", header: "Route ID", style: "text-align-left", format: (item) => Html.ActionLink((string)item.RouteID.ToString(), "CheckRouteFlightsCount", new { id = item.RouteID}, new { data_toggle = "tooltip",data_html = "true", data_title = item.HTMLToolTip })),
        grid.Column(columnName: "RouteName", header: "Flight/Arpt", style: "text-align-left", format: item => (item.RouteName == null ? "" : item.RouteName.ToString().Substring(0, Math.Min(15, item.RouteName.ToString().Length)) + (item.RouteName.ToString().Length < 15 ? "" : ".."))),
        grid.Column(columnName: "FlightDateOnly", header: "Date", style: "text-align-left"),
        grid.Column(columnName: "FlightDurationMin", header: "Minutes", style: "text-align-left"),
        //grid.Column(columnName: "AcftMMS", header: "Aircraft", style: "text-align-left"),
        grid.Column(columnName: "Acft", header: "Aircraft", style: "text-align-left", format: item => item.AcftRegNum.Contains("Not") ? item.Acft : Html.Raw("<a href=\"http://registry.faa.gov/aircraftinquiry/NNum_Results.aspx?NNumbertxt=" + item.AcftRegNum + "\">" + item.AcftRegNum + "</a>"))

             ))
        
    }

</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

