@{
    Layout = null;
    var areaId = ViewBag.AreaId;
    var flights = Html.Raw(ViewBag.Flights);
    //var  flights = ViewBag.Flights;

       @Html.Action("DisplayActiveFlightMap", new { aId = areaId, fs = Html.Raw(ViewBag.Flights) });
}

@*<!DOCTYPE html>
<html>  
    <head>    
        <title>Redirect</title>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">    
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="~/Scripts/activeflights_maps.js" type="text/javascript"></script>

        <script>
            $(document).ready(function () {
                var a = @flights;
                var url = '@Url.Action("DisplayActiveFlightMap", new { flights = @flights })';
                var url2 = '@Url.Action("DisplayActiveFlightMap")';
                var url3 = '@Url.Action("DisplayActiveFlightMap", new {aId=@areaId,flights=@flights})';
                $.get(url);
                //window.location.href = url3;
                //$.ajax({
                //    url: url,
                //    type: 'POST',
                //    dataType: 'json',
                //    contentType: "application/json; charset=utf-8",
                //    data: JSON.stringify(a),
                //    traditional: true,
                //    success: function (data) {
                //        console.log(data);
                //    }
                //    //,
                //    //error: function (xhr, status, errorThrown) {
                //    //    console.log("responseText: " + xhr.responseText);
                //    //    //console.log("status: " + xhr.status);
                //    //    //console.log("errorThrown: " + errorThrown);
                //    //}
                //});
            });
     </script>  
    </head> 
<body>
    <div>
        
    </div>
</body>
</html>*@
