@{
    ViewBag.Title = "Contact";
}

@*<p>
    @Html.ActionLink("[_Back_]", "Index", "Home")
</p>*@

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        Sorry, no phone support offered at this time. All communications are asyncronous.
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
@*    <p>
        <span class="label">Tecnical Support:</span>
        <span><a href="mailto:support@flightontrack.com?subject=[To%20Support]">support@flightontrack.com</a></span>
    </p>*@
    <p>
        <span>General questions, feedback:</span>
        <span><a href="mailto:support@flightontrack.com?subject=[To%20Support]">support@flightontrack.com</a></span>
    </p>
    <p>
        <span>Report issues/bugs:</span>
        <span><a href="mailto:beta@flightontrack.com?subject=[Bug%20report]">bugs@flightontrack.com</a></span>
    </p>

</section>

@*<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p> 3B3, Sterling, MA    </p>
</section>*@