@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <span class="label">@ViewBag.Message</span>
        </div>
    </section>
}*@

<div>
    Bad news: there is no application for iPhone. <br>
    Good news: there is a really cheap solution on Android.
    <ul>
        <li>Acquire any prepaid Android smartphone.<br>
        
        Recently I bought very compact Tracfone Alcatel Pixi GLITZ (see on picture)  for $15 that works great with FONT.<br>
        Check the <a href="http://www.bestbuy.com/site/searchpage.jsp?st=Alcatel+Onetouch+Pixi+Glitz&_dyncharset=UTF-8&id=pcat17071&type=page&sc=Global&cp=1&nrp=&sp=&qp=&list=n&iht=y&usc=All+Categories&ks=960&keys=keys">[Bestbuy]</a> link.<br>
        <p>
            4G LTE network<br>
            Android 4.4 (KitKat) OS<br>
            1.3GHz dual-core processor<br>
            WiFi capable<br>
            2 megapixel camera/video recorder<br>
            Bluetooth v4.0 wireless technology<br>
            Access to Google Play<br>
            microSD memory card slot<br>
            GPS capabilities<br>
            Proximity sensor<br>
            Talk Time: up to 5.7 h<br>
            Standby Time up to 12 days<br>
        </p>
        </li>
        <li>Cheapest 3-month plan for this phone is $20. Data plan is not required. Alternatively, tether the prepaid one to your iPhone and no need to pay for the plan. </li>
        <li>Install FONT over WiFi.</li>
        <li>It is a dedicated transmitter to track your flights now.</li>
    </ul>
</div>

<div>
    The Tracfone in Cessna:
    <img src="~/Images/alcatel.jpg" />
</div>
