@{
    ViewBag.Title = "Home Page";
}
@*<p>
    @Html.ActionLink("[_Back_]", "Index", "Home")
</p>*@
<div class="row">

    <div class="col-md-8">
        <fieldset>
            <legend> FONT Visual LogBook Help</legend>
            There are two things need to be done to present the pilot's flight records in the form of FONT Visual LogBook:<br>
            <p>
                1. A free product called Tableau Reader (TR) needs to be downloaded and registered on Tableau website.<br>
                2. Tableau workbook file needs to be created out of pilot's flight records and opened in the TR.<br>
            </p>
                Due to the limitations of TR EULA the workbook can't be generated and downloaded in automatic manner but should be 'saved individually' in order to be used in TR legally.
                To meet these requirements there are two buttons on the Pilot Logbook page: <kbd>Request VLB</kbd> and <kbd>Download VLB</kbd>.
                A pilot requests the LogBook  by clicking the Request button  while the Download one is greyed out. It takes no longer than an hour to get the workbook ready. When it is ready the Download button is enabled and active.

            <ul>
                <li>Update [Base Airport Code] information on Pilot screen.</li>
                <li><a href="http://www.tableau.com/products/reader/download"> Download </a>, install and register the Tableau Reader.</li>
                <li>Log in into your account on the right with your FONT user id.</li>
                <li>Click the <kbd>All logbook records</kbd> button.</li>
                <li>Go to the bottom of My Pilot LogBook screen.</li>
                <li>Click blue button <kbd>Request Visual LogBook</kbd>. </li>
                <li>Wait or log off.</li>
                <li>When the file is ready to pick up the button <kbd>Download Tableau Workbook</kbd> changes to blue.</li>
                <li>Click the blue button.</li>
                <li>Unzip the downloaded file.</li>
                <li>Navigate to the created directory and double click on the VisualLogBook.twbx file. It should open the file in TR similar to the view below.</li>
                <li>To publish and share the workbook on Tableau cloud public server another trial product Tableau desktop has to be downloaded and installed. Just follow the instructions on the Tableau Public.</li>
            </ul>
            <div class='tableauPlaceholder' id='viz1483644018437' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Vi&#47;VisualLogBook800x800&#47;VisualLogBook&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='site_root' value='' /><param name='name' value='VisualLogBook800x800&#47;VisualLogBook' /><param name='tabs' value='yes' /><param name='toolbar' value='no' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Vi&#47;VisualLogBook800x800&#47;VisualLogBook&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
            <script type='text/javascript'>                    var divElement = document.getElementById('viz1483644018437');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='804px';vizElement.style.height='895px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>


</fieldset>
    </div>
</div>

