<section class="featured">
    <div class="content-wrapper">
        <span class="label">@ViewBag.Message</span>
    </div>
</section>
<br>
<div id=col_container>
    <div class="col">
        <span style="font-weight: bold;">What is 'Shared Flight Records' section?</span>
        <p>
            In this section you have access to all public flights that are shared by the pilots. 
            No login required. 
            The public flight records can be filtered by time, location, aircraft or pilot. 
            In this section you can follow FONT equipped aircraft positions in your area with typical delay of 10 sec (if update frequency <= 5 sec). 
            The area has to be set up per a request.
            <br><b>DISCLAIMER:</b> The application is not supposed to be used for real time traffic monitoring.
</p>
    </div>
    <div class="col">
        <span style="font-weight: bold;">How to access my data?</span>
        <p>
            To access your flight records login to your account from a desktop. No registration needed. 
            It is done automatically during your first flight. Use your credentials on your FONT app Settings screen to login.
            When logged in you can edit, delete, share, sort or make private your flight records and pilot information.
            <br><b>ATTENTION:</b> All flights are public by default.
        </p>
    </div>
    <div class="col">
        <span style="font-weight: bold;">How to group flights in one route?</span>
        <p>
            Multiple flights can be grouped into one route to see them on the map as a single flight (example: any flight to destination airport and a flight back).
            To accomplish this, change the Route ID column value using the corresponding dropdown menu. Give both flights the same route id (usually of a first flight of the group), and save changes.
        </p>
    </div>
    <div class="col">
        <span style="font-weight: bold;">How can I track flights in 3D?</span>
        <p>
            To track flights in 3D, install and open Google Earth on your computer, and download KML file from this website to your local machine. Then drag and drop the file onto the Google Earth.
        </p>
    </div>
</div>






