@*@model IEnumerable<MVC_Acft_Track.Models.vAircraftPilot>*@
@model MVC_Acft_Track.ViewModels.vmPilotLogBookCombined

@{
    string msg = ViewBag.Msg;
    var menuitem = 4;
    var pilotid = Model.FirstOrDefault().PilotID;
}

<div class="row">
    @Html.Partial("_MemberMenu", new { menuitem = menuitem, pilotid = pilotid })
    <div class="col-sm-5 col-sm-offset-1">
        @Html.Partial("_MemberMenu", menuitem)
        <i>There are @ViewBag.PilotFlightNum.ToString() recorded flights in my history. To view all the history and detailed flight info click the button below.</i>
        <p><a class="btn btn-default" href="Flight/Index?pilotId=@ViewBag.PilotID">All my flight records &raquo;</a></p>
    </div>
    <input type="hidden" name="menuitem" value="2" />
    <input type="hidden" name="pilotid" value=@pilotid />
</div>

<div class="validation-summary-errors">@ViewBag.NotFoundMessage  </div>





