@{
    ViewBag.Title = "ScreenshotVideo";
}


<section class="featured">
    <div class="content-wrapper">
        <span class="label">@ViewBag.Message</span>
    </div>
</section>
<br>
<p>The FONT application screenshots</p>
<img src="~/Images/Screenshot_red_180.png" />
<img src="~/Images/Screenshot_yellow_180.png" />
<img src="~/Images/Screenshot_green_180.png"/>

<p>Check<a href="https://youtu.be/DDUWDE4yYFI"> the video.</a> A student pilot is flying patterns with FONT app started on his phone with the following settings:
<ul>
    <li>Min tracking speed - 40</li>
    <li>Update Frequency 5 sec</li>
    <li>Multileg checkbox - checked</li>
</ul>
There are two takeoffs and landings with flight numbers 4 and 5 have made.

<p>
<span class="label">The screenshot below is for the flight 5308.</span>
</p>    
<img src="~/Images/flight5308.PNG" />

<p>
The flight 4 route on the Google maps.<br>
    <img src="~/Images/Capture_flight4.PNG" />

</p>

<p>
    Flights in 3D Google Earth.<br>
    <img src="~/Images/kml.jpg" />
</p>